*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    width: 400px;
    background-color: rgba(127, 178, 255, 0.521);
    border-radius: 5px;
    border: 2px solid pink;
    padding: 25px 20px;
    margin: 0 auto;
    margin-top: 100px;

}
.box form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.form_grp input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 0;
} 

.form_grp button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    

} 
.form_grp p{
    color: blueviolet;
    text-transform: capitalize;
}
.form_grp .pass{
    user-select: none;
}
